name: main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: go.mod
    - name: Build
      run: go build -v ./...
  
  check:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - run: docker-compose up -d